* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}

#iclfej {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#it8oxf {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#iy59sb {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#i6iu39 {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#igibqh {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#i15ad4 {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#iij01x {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#i67zsl {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#iuqaxu {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#istq0l {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#i1adr8 {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ig3cii {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#iis0ww {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ifpo5r {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ihs0gp {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ipe9jf {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ixrrmc {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#i45cky {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#iagspf {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#i6z1j9 {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#inqojy {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#iyc508 {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ivd1f4 {
    letter-spacing: 0px;
    background-color: var(--nv-site-bg);
}

.logo path {
    pointer-events: none;
    fill: none;
    stroke-linecap: round;
    stroke-width: 7;
    stroke: rgb(255, 255, 255);
}

.wechat-group img {
    max-width: 220px;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100%;
}

.welcome-img img {
    width: 100%;
}

.fdb-block {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    color: rgb(68, 68, 68);
    position: relative;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: rgb(255, 255, 255);
}

.fdb-block .text-h2, .fdb-block h2 {
    font-size: 1rem;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    font-weight: 400;
}

a {
    color: rgb(0, 123, 255);
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    background-color: transparent;
}

.c7817 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c7898 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c7925 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c7961 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c7988 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8015 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8042 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8078 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8105 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8141 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8168 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8195 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8222 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8249 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8276 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8312 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8339 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8375 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8402 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8429 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8456 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8483 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8519 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8546 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8582 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8609 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8645 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8672 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8708 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c8735 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    caret-color: rgb(40, 60, 70);
    color: rgb(40, 60, 70);
    font-family: Graphik, "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.c9845 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: "PingFang SC", sans-serif;
    font-size: 17px;
}

.c9940 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 50px;
    font-weight: var( --e-global-typography-primary-font-weight );
    letter-spacing: normal;
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    line-height: 1;
    color: var( --e-global-color-primary );
    text-align: center;
}

.elementor-heading-title.elementor-size-default.c9940 {
    font-size: 56px;
    font-family: "PingFang SC", sans-serif;
}